@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Luckiest+Guy&display=swap');

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #333;
    color: #fff;
    margin: 0;
    display: block;
  }

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(32, 32, 32, 0.7);
    backdrop-filter: blur(10px);
    padding: 0.47rem 1.4rem;
    /* color: white;
    position: fixed; */
    width: 100%;
    z-index: 1000;  
  }
  
  .navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .playnowbtn{
    padding: 5px 5px;
    background-color: #4b099683;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: background 0.3s;
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

/* How to Play Section */
.how-to-play {
    padding: 50px 20px;
    background-color: #333;
    
}

.how-to-play h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5rem;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

.step {
    flex: 1 1 300px;
    text-align: center;
    background-color: #5c5858;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.step:hover {
    transform: translateY(-5px);
}

.step img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.step h3 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
}

.step p {
    font-size: 1rem;
    color: #fff;
}

.signup-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #781ae4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #028a5e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}