* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

i {
  scale: 200%;
  margin: 15px;
}

.hero {
  position: relative;
  height: 900px; 
  overflow: hidden;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 4em; 
  margin: 0;
}

.hero-content p {
  font-size: 1.6em;
  margin: 20px 0; 
}

.cta-button {
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: inline-block; 
  margin-top: 20px; 
}

.cta-button:hover {
  background-color: #111; 
}

.updates-news {
  background-color: #222; 
  color: white;
  padding: 20px; 
  text-align: center; 
}

.updates-news h2 {
  font-size: 2.5em; 
  margin-bottom: 20px; 
}

.update-item {
  background-color: #333;
  margin: 10px 0; 
  padding: 15px; 
  border-radius: 5px; 
}

.update-item h3 {
  font-size: 1.8em; 
  margin-bottom: 10px; 
}

.update-item p {
  font-size: 1.2em; 
}

.showcase {
  background-color: #222; 
  color: white; 
  padding: 20px; 
  text-align: center; 
}

.showcase h2 {
  font-size: 2.5em; 
  margin-bottom: 20px; 
}

.showcase-container {
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.showcase-item {
  background-color: #333; 
  margin: 10px;
  padding: 15px; 
  border-radius: 5px; 
  width: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}

.showcase-item img {
  width: 100%; 
  height: auto; 
  border-radius: 5px; 
}

.showcase-item h3 {
  font-size: 1.5em; 
  margin-top: 10px; 
}
